/*# Empty CSS file for your own CSS*/
.esp{
    height:50px;
}

.navbar{

    background-color: black;
    padding:1px;

}

a.nav-color{

    color:white !important;
}

a.nav-color:hover{

    color:#999 !important;
}

.space{

    padding-top: 65px;

}

.navbar-default .navbar-nav > .active > a{

    background-color: #9e0a0f !important;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover{

    background-color: #9e0a0f !important;
    border-top-color: #337ab7;
    border-right-color: #337ab7;
    border-bottom-color: #337ab7;
    border-left-color: #337ab7;
}

.dropdown-menu > li > a:hover{

    font-weight: bold;

}

form {
    display:inline;
}

.pos-messageErreur{
    width:97%;
    background-color: #ffcccc;
    color:#ff3333;
    border : 1px solid #f99;
    margin:auto;
    margin-bottom: 20px;
    text-align:center;
}

.pos-message{
    width:97%;
    background-color: #ccffcc;
    color:#28a745;
    border : 1px solid #9f9;
    margin:auto;
    margin-bottom: 20px;
    text-align:center;
}

.btnVert{
    background-color: green;
    color:white;
    width: 100px; 
    font-size: 15px;
    margin-top: 10px;
}
.btnVert:hover{
    background-color: whitesmoke;

}
p{
    text-align: justify;
}
.form-group input {
    height: 50px;
    max-width: 800px;
    box-shadow: 10px 10px 5px #656565;
}
textArea{
       box-shadow: 10px 10px 5px #656565;
       padding-left: 10px;
       padding-top:10px;
       border-color:whitesmoke;
       border-style: solid;
}
form label {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 15px;
}

.form-group{
    margin-left:100px;
}
.form-group img {
    margin-left: 50px;
    margin-top: 40px;
    margin-bottom: 20px;
     box-shadow: 10px 10px 5px #656565;
}
img #ombre{
      box-shadow: 10px 10px 5px #656565;
}
h1{
    margin-bottom: 30px;
}
.flex{
    display:flex;
    flex-direction: row;
  
}