
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top p-0">
    <div class="container-fluid p-1">
        <a class="navbar-brand" href="index.php?gestion=accueil">Accueil</a>
        <a class="navbar-brand" href="index.php?gestion=jeux">Jeux</a>
        <a class="navbar-brand" href="index.php?gestion=typeJeux">Type de jeux</a>
        <a class="navbar-brand" href="index.php?gestion=plateformes">Plateformes</a>
        <a class="navbar-brand" href="index.php?gestion=pegiJeux">Pegi</a>
        {* <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
        <a class="nav-link" href="#">Home
        <span class="sr-only">(current)</span>
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
        </li>

        </ul>
        </div>
        *}

        <div class="input-group d-flex justify-content-end">
            <div class="text-white align-self-center mr-2">Bonjour {$nomPrenom} </div>
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Espace personnel
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="index.php?gestion=authentification&action=deconnexion">{$deconnexion}</a>

                </div>
            </div>
        </div>

    </div>
</nav>